@import '../../app_styles/global.scss';



.repo-table-container{
    @include ScrollKit;
    background-color: transparent;
    grid-column: 5/12;
    grid-row: 1/18;
    margin: 1.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);

}