$bgColor: rgba(255, 255, 255, 0.2);
$bgColorHover: rgba(255, 255, 255, 0.5);
$bgColorActive: rgba(255, 255, 255, 0.9);

.navlist{
    flex-basis: 70%;
    list-style: none;
    display: flex;
}

.navlist-item{
    font-size: 110%;
    font-weight: 900;
    width: 10%;
    text-align: center;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all 150ms ease-in-out;
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover{
        background-color: $bgColorHover;
        color: rgba(0, 0, 0, 0.733)
    }
    &:first-of-type{
        margin-left: 2.5%;
    }
}
.active{
    transition: all 150ms ease-in-out;
    border-bottom: 5px solid $bgColorActive;
}