*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;

}


@mixin ScrollKit {
    &::-webkit-scrollbar{
        background-color: $DB1;
        width: 0.5em;
    }
    
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $DB2;
    }
}


// Var Declarations

// Color Palette

$DB1: 		#000000;
$DB2: 			#3d85c6;

$Purp1: 		#073763;
$Purp2: 	#0b5394;
$Grn1:#97ce08;
$Gray1: #333333;
$White1: #f1f1f1;
$White2: #f9f9f9;

// RESP

@media screen and (max-width: 1700px){
    .nav-list{
        li{
            color: $DB2;
        }
        .active{
            background-color: black;
        }
    }
}

@media screen and (max-width: 1700px){
   .App{
    grid-template-columns: 5% 95%;
   }
}

@media screen and (max-width: 1024px){
    .App{
        display: flex;
    }
    .App-inner{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    .privpub{
        grid-column: 1;
    }
    .social{
        grid-column: 2;
    }
    .bioblock{
        grid-column: 1/3;
    }
    .gist{
        grid-column: 1;
    }
    .disk{
        grid-column: 2;
    }
    .repo-table-container{
        grid-column: 1/3;
        grid-row: unset;
    }
}