*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;

}


@mixin ScrollKit {
    &::-webkit-scrollbar{
        background-color: $DB1;
        width: 0.5em;
    }
    
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $DB2;
    }
}


// Var Declarations

// Color Palette

$DB1: 		#000000;
$DB2: 			#3d85c6;

$Purp1: 		#073763;
$Purp2: 	#0b5394;
$Grn1:#97ce08;
$Gray1: #333333;
$White1: #f1f1f1;
$White2: #f9f9f9;


