@import './global.scss';
.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: whitesmoke;
    .disclaimer{
        width: 50%;
        color: $Purp1 !important;
    }
    h1{
        opacity: 0;
        margin-bottom: 2.5%;
        &:last-of-type{
            margin-bottom: 5%;
        }
        animation: FadeIn 1000ms ease-in-out 50ms forwards; 
        &:nth-of-type(2){
            animation-delay: 150ms;
        }
        &:nth-of-type(3){
            animation-delay: 250ms;
        }
        &:nth-of-type(4){
            animation-delay: 350ms;
        }
    }
    ul{
        list-style: georgian;
        font-size: 0.5em;
    }
    .login-link{
        opacity: 0;
        width: fit-content;
        text-decoration: none;
        border-bottom: 2px solid red;
        font-weight: 1000;
        font-size: 1.5em;
        transition: all 150ms ease-in-out;
        padding-left: 0.5%;
        padding-right: 0.5%;
        text-align: center;
        animation: FadeIn 1250ms ease-in-out 50ms forwards; 
    }
    a{
        text-decoration: none;
        &:visited{
            color: inherit;
        }
        &:hover{
            padding-left: 5%;
            padding-right: 5%
        }
    }
}

@keyframes FadeIn{
    100%{
        opacity: 1;
    }
}