@import './global.scss';

.login-page {
    background-color: #f3f3f3;
    font-family: 'Bebas Neue', cursive;

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.navbar-brand {
    & h1 {
        color: #010101;
    }
}
.red-text {
    color: #ff5757;
}
.yellow-text {
    color: #ff5757;
}

.navbar-links {
    & a {
        background-color: #ff5757;
        border-radius: 4px;
        text-decoration: none;
        color: #f3f3f3;
        padding: 12px;
        transition: opacity 100ms ease-in-out;
        &:hover {
            opacity: 0.95;
        }
    }
}

.login-header {
    background-color: #010101;
    min-height: 720px;
    padding: 24px;
    display: flex;
    & img {
        width: 40%;
    }
}

.header-text-backdrop {
    background-color: #FFAB57;
    width: 25%;
    min-height: 480px;
}

.header-text {
    width: fit-content;
    padding-top: 4rem;
    padding-left: 6rem;
    & h1 {
        color: #f3f3f3;
        font-size: 5rem;
    }
    & h2 {
        color: #f3f3f395;
        font-size: 2.5rem;

    }
    & h3 {
        color: #f3f3f385;
        font-size: 1.25rem;

    }
}

.about-section {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    & h1 {
        font-size: 5rem;
    }
    & hr {
        width: 66%;
        margin-bottom: 24px;
        background-color: #ff57ab;
    }
    & p {
        font-size: 1.25rem;
    }
}

.about-box {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 5rem;
    align-items: center;
    & hr {
        width: 100%;
    }
    & h2 {
        font-size: 2.5rem;
        margin-bottom: 24px;
    }
    & div {
        width: 75%;
        line-height: 2rem;
    }
    & p {
        font-size: 1.5rem;
        margin-bottom: 24px;
        text-align: justify;
    }
    & ul {
        font-size: 1.5rem;
        padding-left: 48px;
    }
    &:nth-of-type(2n){
        flex-direction: row-reverse;
        .image-backdrop {
            & img {
                padding: 0px;
                position: relative;
                top: 10%;
                right: 5%;
            }
        }
    }
    &:nth-of-type(3n){
        .image-backdrop {
            & img {
                padding: 0px;
                position: unset;
            }
        }
    }
}

.image-backdrop {
    width: 33%;
    height: 480px;
    content: "";
    border-radius: 4px;
    & img {
        padding-left: 72px;

    }
}

.get-started-box {
    padding: 24PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        font-size: 5rem;
        margin-bottom: 24px;
    }
    & p {
        font-size: 1.5rem;
        width: 66%;
        margin-bottom: 24px;
        &:first-of-type {
            margin-bottom: 48px
        }
    }
    & h2 {
        margin-bottom: 24px;
        font-size: 2.5rem;
    }
    & ul {
        font-size: 1.25rem;
    }
    & a {
        background-color: #ff5757;
        border-radius: 4px;
        text-decoration: none;
        color: #FFAB57;
        font-size: 1.5rem;
        padding: 24px;
        transition: opacity 100ms ease-in-out;
        margin-bottom: 48px;
        &:hover {
            opacity: 0.95;
        }
    }
}

.yellow {
    background-color: #FFAB57;
}

.pink {
    background-color: #ff57ab;
}

.red {
    background-color: #ff5757;
}